<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<header>
    <ul>
        <li><a href="{{ path('accueil2_index') }}">Accueil</a></li>
        <li><a href="{{ path('accueil2_index123') }}">Accueil123</a></li>
    </ul>
</header>
<h1>Titre H1</h1>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div>
            <div>
                <div>
                    <strong>Notification</strong>
                    <small>Maintenant</small>
                    <button type="button"></button>
                </div>
                <div>
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}
</body>
</html>
